/* default styles */
body{
    margin: 0;
    font-family: 'Bitter', serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Solway', serif;
}
/* website banner */
.banner{
    display: grid; grid-template-columns: repeat(2, 1fr);
    background-color: rgb(43, 3, 51); color: aliceblue;
    width: 1150px;
    height:656px; margin: 40px 30px 0 35px; border-radius: 20px; padding-left: 86px;

}
.banner h1{
    font-size: 70px; width: 531px;height: 240px;
}
.banner p{
    height: 78px; width: 506px;
}
.banner div{
    margin-left: 20px; height: 424px; width: 4`31px;
}
.banner button{
    background-color: rgba(233, 218, 225, 0.911); border: 0; color: rgb(43, 3, 51); border-radius: 1px; padding: 13px 20px; font-size: 20px; display: flex; gap: 5px; box-shadow: 1px 2px 4px rgb(117, 91, 122);
}
.banner button:hover{
    background-color: rgba(102, 88, 94, 0.911); border: 0; color: rgb(0, 0, 0); border-radius: 1px; padding: 16px 25px; font-size: 20px;
}
.banner div img{
    margin-top: 43px; width: 511px; height: 613px; margin-left: 0;
}
/* <!-- main details for world cup  */
.buttons{
    display: grid;grid-template-columns: 1, 1fr;
    height: 312px; width: 312px;padding: 30px;  background-color: rgb(67, 5, 80); margin: 110px 30px 0 20px ; margin-left: ; border: 0; 
}
.unique{
    background-color: rgb(126, 8, 73); border-radius: 20px;border: 0;font-size: 20px;color: rgb(229, 232, 235); 
}
.unique a{
    text-decoration: none; color: aliceblue;
}
{
    
    margin-bottom: 20px;border-radius: 20px;border: 0;font-size: 20px;color: aliceblue;background-color: rgb(119, 78, 128); margin-top: 20px;
 }
.main{
    display: flex;
}
    .all-blogs{
    display: grid; grid-template-columns: repeat(3,1fr); gap:35px; margin-top: 110px;
}
    .blogs-container{
    height: 330px; width:270px ; ;
}
.blogs-container img{
    height: 150px; width:270px ;
}
.blog-details{
    margin-left: 20px;
}
.blog-icons{
    display: flex; flex-direction: row; column-gap: 15px;
}
.blog-icons img{
    height: 24px; width: 24px; margin-top: 15px;
}
/* footer styles */
footer{
    height: 300px; width: 100%; background: rgb(43, 3, 51);
}
hr{
    margin: 0 100px; margin-top: 30px;
}
.info-first h1{
    padding-top: 30px; text-align: center; color: antiquewhite;
}
.links{
    text-align: center;
}
.links a{
    text-decoration: none; color:wheat ; margin-right: 20px; text-align: center; margin-top: 15px; margin-bottom: 0;
}
.last-info{
    margin-top:  50px; text-align: center; 
}
.last-info a{
    margin-right: 10px; height: 100px; width: 100px; border-radius: 10px; 
}

/* media quariry styles for tablet*/
@media screen and (min-width:577px) and (max-width:787px) {
    /* <!-- website banner --> */
    .banner{
          margin: 10px 10px 0 15px; height:856px;
         width: 734px;
         height: 398px;
         padding-left: 10px;
    }
    .banner h1{
        width: 289px;
        height: 150px;font-weight: 300px;
        font-size: 40px;margin-left: 56px;
        margin-top: 51px;
    }
    .banner p{
        width: 316px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;margin-left: 56px;
        margin-top: 21px;
    }
    .banner button{
        width: 161px;
        height: 48px;margin-top: 20px;margin-left: 56px;
    }
    .banner div img{
        width: 323px;
        height: 340px;
        margin-top: 58px;
    }
    /* <!-- main details for world cup --> */
    .buttons{
         grid-template-columns: repeat(3, 1fr); width: 634px;
         height: 100px; margin: 0 30px; margin-top: 50px; background: white; gap: 20px;
    }
    .main{
        display: inline;
    }
    .all-blogs{
        display: grid; grid-template-columns: repeat(2,1fr); justify-content: center; justify-items: center;
    }
    
}
/* media quary for mobile */
@media screen and (max-width:576px) {
    /* website banner */
    .banner{
        display: grid; grid-template-columns: repeat(1, 1fr); width: 380px; height: 920px;border-radius: 0;
    }
    .banner h1{
        font-size: 40px; width: 300px; margin-left: 10px;
    }
    .banner p{
        width: 300px; 
    }
    .banner button{
        margin: 50px 50px; 
    }
    .banner div{
        width: 300px;
    }
    .banner div img{
        width: 300px; height: 413px; 
    }
    /* <!-- main details for world cup  */
    .main{
        display: grid; grid-template-columns: repeat(1, 1fr);
    }
    .buttons{
        background-color: white; display: grid; margin-left: 30px;
    }
    .all-blogs{
        display: grid; grid-template-columns: repeat(1, 1fr); justify-content: center; justify-items: center; margin: 60px 90px; width: 300px;
    }
    .blogs-container{
        width: 300px;
    }
    /* footer responsive ness */
    .footer{
        width: 100%; height: 200px; 
    }
    .links{
        display: grid; grid-template-columns: repeat(1, 1fr);
    }
    
}