/* default styles */
body{
    margin: 0;
    font-family: 'Bitter', serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Solway', serif;
}
/* website banner */
.banner{
    display: grid; grid-template-columns: repeat(2, 1fr);
    background-color: rgb(43, 3, 51); color: aliceblue;
    width: 1250px;
    height:656px; margin: 40px 30px 0 35px; border-radius: 20px; 

}
.banner h1{
    font-size: 70px; width: 700px;
}
.banner p{

}
.banner div{
    margin-left: 20px; height: 424px; width: 513px;
}
.banner button{
    background-color: rgba(233, 218, 225, 0.911); border: 0; color: rgb(43, 3, 51); border-radius: 1px; padding: 16px 25px; font-size: 20px; box-shadow: 1px 2px 4px rgb(117, 91, 122);
}
.banner button:hover{
    background-color: rgba(102, 88, 94, 0.911); border: 0; color: rgb(0, 0, 0); border-radius: 1px; padding: 16px 25px; font-size: 20px;
}
.banner div img{
    margin-top: 43px; width: 581px; height: 613px; 
}